* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.7;
    background-image: url(./img/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
  }
  
  header {
    color: #fff;
    padding: 10px 0;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  header nav ul li {
    margin: 0 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .section {
    padding: 20px 0;
    text-align: center;
    
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    color:white;
  }
  
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 50px ;
  }
  
  h1 {
    font-size: 2.5em;
    margin: 20px 0;
  }

  .button {
    display: block;
    width: 100%;
    max-width: 350px;
    padding: 10px;
    margin: 10px auto;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    font-size: 19px;
    text-align: center;
    text-decoration: none; 
  }
  .projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .project {
    background-image: url(./img/bg-desktop.jpg);
    border-radius: 35px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .imagens-div{
    width: 100px; 
    height: auto;
    
  }
  .imagens-div-py{
    width: 35px; 
    height: auto;
  }
  .imagens-div-c{
    width: 65px; 
    height: auto;
  }
  
  footer {
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;

  }
  

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .profile-img {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 2em;
  }

  .button {
    max-width: 250px;
  }

  .project {
    width: 45%;
  }

  .imagens-div {
    width: 75px;
  }

  .imagens-div-py {
    width: 25px;
  }

  .imagens-div-c {
    width: 50px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 95%;
  }

  .profile-img {
    width: 75px;
    height: 75px;
  }

  h1 {
    font-size: 1.5em;
  }

  .button {
    max-width: 200px;
  }

  .project {
    width: 100%;
  }

  .imagens-div {
    width: 50px;
  }

  .imagens-div-py {
    width: 20px;
  }

  .imagens-div-c {
    width: 40px;
  }
}
